<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APIS Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">APIS Dashboard</h1>
        
        <div class="list-group mb-4">
            <a href="{% url 'pending-list' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes
            </a>
            <a href="{% url 'apipending-list-ids-titles' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes (IDs y Títulos)
            </a>
            <a href="{% url 'apipending-list-unresolved' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes sin resolver
            </a>
            <a href="{% url 'apipending-list-resolved' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes resueltos
            </a>
            <a href="{% url 'apipending-list-ids-users' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes (IDs y userID)
            </a>
            <a href="{% url 'apipending-list-resolved-ids-users' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes resueltos (IDs y userID)
            </a>
            <a href="{% url 'apipending-list-unresolved-ids-users' %}" class="list-group-item list-group-item-action">
                Lista de todos los pendientes sin resolver (IDs y userID)
            </a>
        </div>
        <h2><a href="../../">Regresar a ToDo Dashboard</a></h2>
    </div>
</body>
</html>
