<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending List</title>
</head>
<body>
    <h1>Pending List</h1>
    <ul>
        {% for pending in object_list %}
            {% if not pending.resolved %}
                <li>
                    <a> ID: {{ pending.id }} -  Titulo: {{ pending.title }}</a> - 
                    {% if pending.resolved %}Resolved{% else %}Unresolved{% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2><a href="../../">Regresar a ToDo Dashboard</a></h2>
</body>
</html>
